<div id="search">
<form id="address-search" method="get" action="/google/address_search">
      <input type="text" id="address-search-bar" name="address" size="21" maxlength="120" value="type address here">
      <input type="submit" value="search" class="search-button">
</form>

</div>
